body {
    margin: 0px;
    padding: 0px;
}

.lib {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 20px;
}

.btn {
    display: grid;
    border: 1px solid black;
    width: 200px;
    height: 30px;
    justify-content: center;
    align-items: center;
}

.addBtn {
    background-color: green;
}

.delBtn {
    margin-top: 5px;
    justify-self: center;
    background-color: red;
}

.readBtn {
    justify-self: center;
    background-color: burlywood;
}

.header {
    display: grid;
    background-color: lightgrey;
    text-align: center;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr 1fr; 
    column-gap: 5px;
    row-gap: 5px;
    margin: 5px;
}

.element {
    display: grid;
    border: 1px solid black;
}

.cardTop {
    font-size: 20px;
    text-align: center;
    align-self: center;
    padding: 15px 0px 10px 0px;
    background-color: greenyellow;
}

.cardBottom {
    display: grid;
    text-align: center;
    padding-bottom: 5px;
}

 
#github {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 25px;
}